ZOOKEEPER_VERSION=latest
ZOOKEEPER_RESTART=always
ZOOKEEPER_PORT=2181
ZOOKEEPER_ALLOW_ANONYMOUS_LOGIN=yes

KAFKA_PORT=9092
KAFKA_RESTART=always
KAFKA_ALLOW_PLAINTEXT_LISTENER=yes
KAFKA_LISTENERS=PLAINTEXT://:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092

MONGODB_VERSION=latest
MONGODB_RESTART=always
MONGODB_INIT_ROOT_USERNAME=root
MONGODB_INIT_ROOT_PASSWORD=rootpassword
MONGODB_PORT=27017

SQLSERVER_VERSION=2022-latest
SQLSERVER_RESTART=always
SQLSERVER_PORT=1433
SQLSERVER_ACCEPT_EULA=y
SQLSERVER_SA_PASSWORD=P@55w0rd
SQLSERVER_MSSQL_PID=Express

COMPOSE_PROJECT_NAME=SocialMediaContainers