ZOOKEEPER_VERSION=latest
ZOOKEEPER_RESTART=always
ZOOKEEPER_PORT=2181
ZOOKEEPER_ALLOW_ANONYMOUS_LOGIN=yes
KAFKA_PORT=9092
KAFKA_RESTART=always
KAFKA_ALLOW_PLAINTEXT_LISTENER=yes
KAFKA_LISTENERS=PLAINTEXT://:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
COMPOSE_PROJECT_NAME=kafka